n8n-workflows/ai-chatbot-automation.json
{
  "name": "AI Chatbot & Conversational Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-webhook",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "chatbot-001"
    },
    {
      "parameters": {
        "prompt": "You are a helpful customer support assistant. Respond to the following user message in a friendly and professional manner.\n\nUser Message: {{ $json.message }}\nConversation History: {{ $json.history }}\n\nProvide a helpful response.",
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "n8n-nodes-base.aiAgent",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "channel": "C0123456789",
        "text": "🤖 New Chatbot Conversation\n\nUser: {{ $json.user }}\nMessage: {{ $json.message }}\nBot Response: {{ $json.response }}",
        "otherOptions": {}
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [650, 200],
      "credentials": {
        "slackApi": {
          "id": "slack-cred",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "conversations",
        "columns": {
          "user_id": "={{ $json.user_id }}",
          "message": "={{ $json.message }}",
          "response": "={{ $json.response }}",
          "timestamp": "={{ $now.toISO() }}"
        },
        "options": {}
      },
      "id": "log-conversation",
      "name": "Log to Data Table",
      "type": "n8n-nodes-base.n8nWorkflow",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Data Table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "ai-chatbot-automation",
  "tags": ["chatbot", "ai", "conversation"]
}
