n8n-workflows/business-process-automation.json
{
  "name": "Business Process Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "business-process-trigger",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "business-process-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "check-approver",
              "leftValue": "={{ $json.approval_required }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-approval",
      "name": "IF Approval Required",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "C0123456789",
        "text": "🚀 New Approval Request\n\nType: {{ $json.request_type }}\nRequester: {{ $json.requester }}\nDetails: {{ $json.details }}\n\nApprove: /approve/{{ $json.id }}\nReject: /reject/{{ $json.id }}",
        "otherOptions": {}
      },
      "id": "slack-notification",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [650, 200],
      "credentials": {
        "slackApi": {
          "id": "slack-cred",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "to": "{{ $json.approver_email }}",
        "subject": "Approval Required: {{ $json.request_type }}",
        "text": "A new approval request requires your attention.\n\nType: {{ $json.request_type }}\nRequester: {{ $json.requester }}\nDetails: {{ $json.details }}\n\nPlease review and approve/reject."
      },
      "id": "email-notification",
      "name": "Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 400],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "Email SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "1abc123",
        "range": "A1:F1",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "values": {
          "items": [
            {
              "__date": "={{ $now.toISO() }}",
              "requester": "={{ $json.requester }}",
              "request_type": "={{ $json.request_type }}",
              "status": "=Pending",
              "details": "={{ $json.details }}"
            }
          ]
        }
      },
      "id": "log-to-sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.example.com/process",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "request_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "status",
              "value": "=processed"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "call-api",
      "name": "HTTP Request - Process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "IF Approval Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Approval Required": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Notification": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request - Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "business-process-automation",
  "tags": ["business-process", "approval", "automation"]
}
