n8n-workflows/finance-automation.json
{
  "name": "Finance & Accounting Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finance-automation",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "finance-001"
    },
    {
      "parameters": {
        "operation": "read",
        "binaryPropertyName": "invoice",
        "options": {}
      },
      "id": "read-invoice",
      "name": "Read Invoice PDF",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const { data } = $input.first().json;\nconst result = {\n  vendor: data.vendor || 'Unknown Vendor',\n  amount: parseFloat(data.amount) || 0,\n  date: data.date || new Date().toISOString().split('T')[0],\n  lineItems: data.lineItems || []\n};\nreturn result;"
      },
      "id": "extract-data",
      "name": "Extract Invoice Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "amount-check",
              "leftValue": "={{ $json.amount }}",
              "rightValue": 10000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-amount",
      "name": "IF High Value",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "table": "invoices",
        "columns": {
          "properties": {
            "vendor": "={{ $json.vendor }}",
            "amount": "={{ $json.amount }}",
            "date": "={{ $json.date }}",
            "status": "pending_approval",
            "created_at": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "create-invoice",
      "name": "Create Invoice Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "template": "approval-request",
        "to": "{{ $json.approver_email }}",
        "subject": "Invoice Approval Required: {{ $json.vendor }} - ${{ $json.amount }}",
        "text": "Invoice requires approval.\n\nVendor: {{ $json.vendor }}\nAmount: ${{ $json.amount }}\nDate: {{ $json.date }}\n\nPlease review and approve."
      },
      "id": "send-approval",
      "name": "Request Approval",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 400],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "Email SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "calendarId": "primary",
        "eventTitle": "Invoice Approval: {{ $json.vendor }}",
        "eventDescription": "High-value invoice requires approval.\n\nAmount: ${{ $json.amount }}",
        "eventStart": "{{ $json.due_date }}T09:00:00",
        "eventEnd": "{{ $json.due_date }}T09:30:00"
      },
      "id": "schedule-reminder",
      "name": "Schedule Reminder",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 3,
      "position": [1250, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-cred",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Invoice PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Invoice PDF": {
      "main": [
        [
          {
            "node": "Extract Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Invoice Data": {
      "main": [
        [
          {
            "node": "IF High Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF High Value": {
      "main": [
        [
          {
            "node": "Create Invoice Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Request Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Invoice Record": {
      "main": [
        [
          {
            "node": "Schedule Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Approval": {
      "main": [
        [
          {
            "node": "Schedule Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Reminder": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "finance-automation",
  "tags": ["finance", "accounting", "invoice", "automation"]
}
