n8n-workflows/marketing-automation.json
{
  "name": "Marketing Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-lead",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "marketing-lead-001"
    },
    {
      "parameters": {
        "operation": "create",
        "emailAddress": "{{ $json.email }}",
        "firstName": "{{ $json.first_name }}",
        "lastName": "{{ $json.last_name }}",
        "tags": ["website-lead", "{{ $json.source }}"]
      },
      "id": "add-to-mailchimp",
      "name": "Add to Mailchimp",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "mailchimpApi": {
          "id": "mailchimp-cred",
          "name": "Mailchimp API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "name": "{{ $json.first_name }} {{ $json.last_name }}",
        "properties": {
          "email": "{{ $json.email }}",
          "source": "{{ $json.source }}",
          "lead_score": "{{ $json.score }}"
        }
      },
      "id": "create-hubspot",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 3,
      "position": [450, 450],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "hubspot-cred",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        }
      },
      "id": "check-score",
      "name": "IF Hot Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "templateId": "welcome-series",
        "to": "{{ $json.email }}",
        "subject": "Welcome! Here's what to expect",
        "text": "Hi {{ $json.first_name }},\n\nWelcome aboard! We'll be sending you valuable content tailored to your interests."
      },
      "id": "send-welcome",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [850, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "Email SMTP"
        }
      }
    },
    {
      "parameters": {
        "channel": "C0123456789",
        "text": "🔥 New Hot Lead!\n\n{{ $json.first_name }} {{ $json.last_name }}\nEmail: {{ $json.email }}\nScore: {{ $json.score }}",
        "otherOptions": {}
      },
      "id": "alert-sales",
      "name": "Alert Sales Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [850, 400],
      "credentials": {
        "slackApi": {
          "id": "slack-cred",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Add to Mailchimp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Mailchimp": {
      "main": [
        [
          {
            "node": "IF Hot Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Contact": {
      "main": [
        [
          {
            "node": "IF Hot Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Hot Lead": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert Sales Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Sales Team": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "marketing-automation",
  "tags": ["marketing", "lead", "automation"]
}
